- if user_signed_in?
  .vertical-menu.vertical-menu-2
    = render 'shared/user_info'
    .medium-offset.bottom
    %h4 Create new post
    = render 'shared/post_form'
  .vertical-block.vertical-block-6
    %h3 Posts
    - unless @feed_items.empty?
      - @feed_items.each do |f|
        .meta.bold
          %p= f.title
        %p= f.content
        .meta.italic
          %p #{time_ago_in_words(f.created_at)} ago
          .meta.bold
            %p by #{link_to User.find(f.user_id).username, User.find(f.user_id)}
        .small-offset.bottom
    - else
      %p Posts not found
- else
  .central
    .large-offset.bottom
    %h1 Microblog
    .description Elementary blog.
    .small-offset.bottom
    = link_to "Sign in", login_path, class: 'button large rounded blue'
