%h3 Subscribers
.small-offset.bottom
- unless @user.subscribers.empty?
  - @user.subscribers.each do |f|
    %p= link_to f.username, f
    .extrasmall-offset.bottom
- else
  %span Subscribers not found
.medium-offset.bottom
%h3 Followings
.extrasmall-offset.bottom
- unless @user.subscribed_users.empty?
  - @user.subscribed_users.each do |f|
    %p= link_to f.username, f
    .extrasmall-offset.bottom
- else
  %span Followings not found