%h3 Posts
- unless @user.posts.count == 0
  .small-offset.bottom
  - @user.posts.each do |f|
    .meta.bold
      %p= f.title
    %p= f.content
    .meta.italic
      %p= f.created_at
    - if @user == current_user
      %p= link_to 'Delete', f, method: :delete, data: { confirm: "Are you sure?" }
    .small-offset.bottom
- else
  %p Posts not found