- if current_user.following?(@user)
  = form_for(current_user.relationships.find_by_subscribed_id(@user.id), html: { method: :delete }) do |f|
    = f.submit 'Unfollow', class: 'button medium rounded pink'
- else
  - unless @user == current_user
    = form_for(current_user.relationships.build(subscribed_id: @user.id)) do |f|
      = f.hidden_field :subscribed_id
      = f.submit 'Follow', class: 'button medium rounded blue'
