= form_for @post do |f|
  = f.text_field :title, placeholder: 'Title', class: 'textform'
  .extrasmall-offset.bottom
  = f.text_area :content, placeholder: 'Post', class: 'textarea small medium'
  %p= f.submit 'Create', class: 'button medium rounded blue'
