- unless @user.avatar.to_s == ''
	%p= image_tag @user.avatar, size: '60x60'
- else
	%p= gravatar_for @user, size: 60
%h4= link_to @user.username, @user
%p= pluralize(@user.posts.count, 'post')
.meta.bold
	%p= link_to pluralize(@user.subscribed_users.count, 'following'), "/users/#{@user.id}/subscribed"
	%p= link_to pluralize(@user.subscribers.count, 'subscribers'), "/users/#{@user.id}/subscribers"
