%h3 Sign in
.small-offset.bottom
= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  %div
    = f.label :email
    %br/
    = f.email_field :email, class: 'textform', :autofocus => true
  .extrasmall-offset.bottom
  %div
    = f.label :password
    %br/
    = f.password_field :password, class: 'textform'
  - if devise_mapping.rememberable?
    .extrasmall-offset.bottom
    %div
      = f.check_box :remember_me
      = f.label :remember_me
  .small-offset.bottom
  %div= f.submit "Sign in", class: 'button medium rounded blue'
  .extrasmall-offset.bottom
